<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
</head>
<body>
    <h1 style="color: blue; font-family: Arial, sans-serif; font-size: 24px; text-align: center; font-weight: bold;">
        Sagar Group Of Institutions
    </h1>
    <div>
        <img src="{% static 'sistec.jpg.jpeg' %}" alt="Sagar Group Of Institutions" style=" max-width: 100%; height: auto;">
    </div>

    {% block content %}
    {% endblock %}
    <div>
        <h1>harsh lodhi</h1>
    </div>
</body>
</html>