<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'updateEmployee' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{employee.id}}">
        <div>
            <label for="Eno">Employee no. </label>
        </div>
        <div>
            <input type="text" name="Eno" id="Eno" value="{{employee.Eno}}">
        </div>
         <div>
            <label for="ename">Employee name </label>
        </div>
        <div>
            <input type="text" name="ename" id="ename" value="{{employee.ename}}">
        </div>
         <div>
            <label for="esal">Employee salary </label>
        </div>
        <div>
            <input type="text" name="esal" id="esal" value="{{employee.esal}}">
        </div>
        <div>
            <input type="submit" vlaue="update">
        </div>
    </form>
</body>
</html>