<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aquamarine";>
    <div style="border: 2px solid ;">
        <h1  style="text-align: center;">
            this is home page
        </h1>
    </div>
    <div>
        <h1 style="text-align: right;">{{ request.session.name }}</h1>
        <a href="{% url 'logout' %}"><button>LOGOUT</button></a>
    </div>
    <div>
        <h2>
            congratulations
        </h2>
    </div>
    
</body>
</html>