<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>this is login page</h1>
    </div>
    <form action="{% url 'loginvalidation' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="username">username</label>
        </div>
        <div>
            <input type="text" name="username" id="username">
        </div>
         <div>
            <label for="password">password</label>
        </div>
        <div>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <input type="submit" value="login">
        </div>
        <span>{{erg}}</span>
        
    </form>
    <br>
    <a href="{% url 'signup' %}">create new user</a>
</body>
</html>