<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup page</h1>
    <form action="{% url 'saveuser' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="username">username:</label>
        </div>
        <div>
            <input type="text" name="username" id="username" required>
            <span>{{ errormsg }}</span>

        </div>
        <div>
            <label for="password">password:</label>
        </div>
        <div>
            <input type="password" name="password" id="password" required>
            
        </div>
        <div>
            <label for="name">Name:</label>
        </div>
        <div>
            <input type="text" name="name" id="name" required>
            
        </div>
        
        <div>
            <input type="submit" value="Sign-up">
            
        </div>
    </form>
</body>
</html>